# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

digital-marketing-456009-d01056efdf1a.json

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
*.env/
*.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variable files
.env
.env.*

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# PyCharm
.idea/

# MyPy
.mypy_cache/

# Logs
*.log
